<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liubz.androidtea">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:name=".TeaApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".network.socket.SocketTestActivity"
            android:launchMode="singleTop" />
        <activity android:name=".broadcast.BroadcastTestActivity" />
        <activity android:name=".broadcast.InteractiveStateActivity" />
        <activity android:name=".modules.accessibility.AccessibilityTestActivity" />
        <activity android:name=".persistence.PersistenceTestActivity" />
        <activity android:name=".persistence.litepal.LitePalTestActivity" />
        <activity android:name=".contentprovider.ContactsTestActivity" />
        <activity android:name=".music.client.MusicPlayActivity" />
        <activity android:name=".material.recycler.RecyclerViewActivity" />
        <activity android:name=".material.recycler.CardViewTestActivity" />
        <activity android:name=".material.permissions.DangerousPermissionTestActivity" />
        <activity android:name=".material.MaterialTestActivity" />
        <activity android:name=".material.tablayout.TabLayoutActivity" />
        <activity android:name=".material.CoordinatorLayoutTestActivity" />
        <activity android:name=".material.CollapsingToolbarLayoutTestActivity" />
        <activity android:name=".material.CustomBehaviorTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.liubz"
                    android:path="/app/demo"
                    android:scheme="zhuzi" />
            </intent-filter>
        </activity>
        <activity android:name=".notification.LaunchOtherAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.liubz"
                    android:scheme="zhuzi" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notification.NewTaskActivity"
            android:taskAffinity="com.liubz.androidtea.custom" />
        <activity
            android:name=".modules.accessibility.AccessibilityJumpActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name=".network.SignalStrengthTestActivity" />
        <activity android:name=".TVDemoActivity" />
        <!--<activity android:name=".safeurl.SafeUrlActivity"/>-->
        <activity
            android:name=".network.WebViewTestActivity"
            android:exported="false" />
        <activity android:name=".network.HttpRequestTestActivity" />
        <activity android:name=".modules.screenrecord.ScreenRecordDemo" />
        <activity android:name=".modules.screenrecord.ScreenRecordDemoActivity" />
        <activity android:name=".modules.launcher.DefaultLauncherTest" />
        <activity android:name=".archcomponents.ShowNameActivity" />
        <activity android:name=".communicate.eventbus.EventBusActivity" />
        <activity android:name=".communicate.CommunicationActivity" />
        <!--  launch mode start -->
        <activity android:name=".stack.launchmode.LaunchModeActivity" />
        <activity
            android:name=".stack.launchmode.standard.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".stack.launchmode.singletop.SingleTopActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".stack.launchmode.singletask.SingleTaskActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".stack.launchmode.singleinstance.SingleInstanceActivity"
            android:launchMode="singleInstance" />

        <activity
            android:name=".stack.launchmode.OtherActivity"
            android:launchMode="standard" />

        <activity
            android:name=".stack.launchmode.TransparentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".stack.launchmode.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <!--  launch mode end -->

        <activity android:name=".immersive.ImmersiveActivity" />
        <activity android:name=".network.retrofit.page.RetrofitActivity" />

        <activity android:name=".view.EditTextActivity" />

        <activity android:name=".expandablelist.MyExpandableListActivity" />

        <activity
            android:name=".modules.launcher.Launcher"
            android:clearTaskOnLaunch="true"
            android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|fontScale"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:resizeableActivity="false"
            android:resumeWhilePausing="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:supportsPictureInPicture="false"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>

        <activity android:name=".rx.RxActivity" />

        <activity android:name=".container.ContainerActivity" />

        <activity android:name=".imageloader.GlideActivity" />

        <activity android:name=".view.ViewStubActivity" />

        <activity android:name=".repo.RepoActivity" />

        <activity android:name=".middle.MiddleActivity" />

        <service
            android:name=".modules.accessibility.MyAccessibilityService"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <receiver
            android:name=".broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.liubz.androidtea"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".music.MusicPlayService"
            android:enabled="true"
            android:exported="false"
            android:process=":bg"></service>
    </application>

</manifest>
